
@font-face{
    font-family: 'helvetica';
    src:url('../../assets/Helvetica.ttf');
}
@import '../../assets/variables';


.section
{
    background-color: black;
   
   
    .container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: black;
        margin-top: 70px;
        @media #{$media-desktop}
        {
            margin-top: 0px;
                height: 100vh;
        }
        @media #{$media-large}
        {
            margin-top: 0px;
                height: 100vh;
        }
        @media #{$media-tablet-p}
        {
            margin-top: 0px;
                height: 100vh;
        }
       
        
    .title
    {
      text-align: center;
        color: white;
        font-size:40px;

        font-family: 'helvetica';
        font-weight: 600;

        @media #{$media-mobile} {
            font-size: 35px;
             
         }
         @media #{$media-small} {
             font-size: 35px;
             
         }
    .red
    {
    color:rgb(230,43,30);
    font-weight: 700;
    }
    
    }

    .content
    {
        text-align: center;
        color: white;
        font-size:18px;

        font-family: 'helvetica';
        font-weight: 400;
        .links
        {
            text-decoration: none;
            color: rgb(230,43,30);
        }
        @media #{$media-mobile} {
            font-size: 18px;
             
         }
         @media #{$media-small} {
             font-size: 18px;
             
         }
    }
    }
    

    
}