
@font-face{
    font-family: 'helvetica';
    src:url('../../assets/Helvetica.ttf');
}
.container
{
    background-color: black;
    padding:7px;
    display: flex;
    justify-content: space-between;
}

.pages
{
    font-family: 'helvetica';
    color:rgb(255, 255, 255,0.2);
    text-decoration: none;
    text-decoration-color: none;
    margin-top: 15px;
    width: 60%;
    display:flex;
    justify-content: space-evenly;
}
.links
{
    color: white;
    text-decoration: none;
}